# ignore files in pycache directory
~/Alx_Django_Projects/week9/Alx_Django_Projects/LibraryProject/LibraryProject/__pycache__

# ignore .sqlite3 file
*.sqlite3
Introduction_to_Django/LibraryProject/bookshelf/__pycache__/__init__.cpython-310.pyc
Introduction_to_Django/LibraryProject/bookshelf/__pycache__/admin.cpython-310.pyc
Introduction_to_Django/LibraryProject/bookshelf/__pycache__/apps.cpython-310.pyc
Introduction_to_Django/LibraryProject/bookshelf/migrations/__pycache__/__init__.cpython-310.pyc
Introduction_to_Django/LibraryProject/LibraryProject/__pycache__/__init__.cpython-310.pyc
Introduction_to_Django/LibraryProject/LibraryProject/__pycache__/settings.cpython-310.pyc
Introduction_to_Django/LibraryProject/LibraryProject/__pycache__/urls.cpython-310.pyc
Introduction_to_Django/LibraryProject/LibraryProject/__pycache__/wsgi.cpython-310.pyc
Introduction_to_Django/LibraryProject/bookshelf/migrations/__pycache__/0001_initial.cpython-310.pyc
Introduction_to_Django/LibraryProject/bookshelf/__pycache__/models.cpython-310.pyc
